/src/main/resources/application.properties
.idea
target
.DS_Store
**/.DS_Store
.env
sonar-project.properties
nginx.conf


src/test/http/http-client.env.json
src/main/resources/static
http.client.env.json
/.mvn/
/.scannerwork/
